CONFIG_BT_ENABLED=y
CONFIG_BT_BTU_TASK_STACK_SIZE=4512
# CONFIG_BT_BLE_50_FEATURES_SUPPORTED is not set
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_BLE_42_DTM_TEST_EN=y
CONFIG_BT_BLE_42_ADV_EN=y
CONFIG_BT_BLE_42_SCAN_EN=y
CONFIG_BT_GATTS_ENABLE=y
CONFIG_BT_GATTS_SEND_SERVICE_CHANGE_MANUAL=y
CONFIG_BT_GATTC_ENABLE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

CONFIG_BLE_MESH=y
CONFIG_BLE_MESH_NODE=y
# CONFIG_BLE_MESH_PROVISIONER is not set
CONFIG_BLE_MESH_SUPPORT_BLE_ADV=y
CONFIG_BLE_MESH_PB_ADV=y
CONFIG_BLE_MESH_PB_GATT=y
CONFIG_BLE_MESH_GATT_PROXY_SERVER=y
CONFIG_BLE_MESH_TX_SEG_MSG_COUNT=10
CONFIG_BLE_MESH_RX_SEG_MSG_COUNT=10
CONFIG_BLE_MESH_SETTINGS=y
CONFIG_BLE_MESH_STORE_TIMEOUT=0
CONFIG_BLE_MESH_SEQ_STORE_RATE=0
CONFIG_BLE_MESH_RPL_STORE_TIMEOUT=0

CONFIG_SH_ROLE_REMOTE_CONTROLLER=y
CONFIG_SH_BLE_BRIDGE_ENABLE=y

CONFIG_DEVICE_CONTROLLER_BUTTON_UP_GPIO=12
CONFIG_DEVICE_CONTROLLER_BUTTON_DOWN_GPIO=17
CONFIG_DEVICE_CONTROLLER_BUTTON_LEFT_GPIO=18
CONFIG_DEVICE_CONTROLLER_BUTTON_RIGHT_GPIO=13
CONFIG_DEVICE_CONTROLLER_BUTTON_CENTER_GPIO=14
CONFIG_DEVICE_CONTROLLER_BUTTON_ACTIVE_LEVEL=0
CONFIG_DEVICE_CONTROLLER_TIMEOUT_MS=15000
CONFIG_DEVICE_CONTROLLER_ENABLE_MULTI_DEVICE=y
CONFIG_DEVICE_CONTROLLER_MAX_DEVICES=10
